@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Roboto:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: 1 3 30;
    --background: 236 237 254;
    --primary: 6 10 127;
    --secondary: 248 98 226;
    --accent: 239 11 125;
  }
  .dark {
    --text: 223 225 254;
    --background: 1 2 20;
    --primary: 127 131 249;
    --secondary: 158 7 135;
    --accent: 244 17 130;
  }
}

.toast-animation {
  animation: toast 4s ease-in-out 0s 1 forwards;
  transition: all;
}

@keyframes toast {
  0%,
  100% {
    opacity: 0;
    scale: 0;
    top: 0;
  }
  5%,
  95% {
    opacity: 100;
    scale: 1;
  }
}
